<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.spoofax.sunshine.gitdrive/src/org/spoofax/sunshine/gitdrive/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.spoofax.sunshine.gitdrive.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--extens app&#10;--lang-jar&#10;&#9;../../webdsl2/include/webdsl.jar&#10;&#9;../../webdsl2/include/webdsl-java.jar&#10;--lang-tbl&#10;&#9;../../webdsl2/include/WebDSL.tbl&#10;--start-symbol Unit&#10;--lang-name WebDSL&#10;--proj-dir&#10;&#9;../../yellowgrass/&#10;--git-autodrive&#10;--from 6777fcf3a54dce7b26d8fa17e8dd8fe99c4a9186&#10;--to 6777fcf3a54dce7b26d8fa17e8dd8fe99c4a9186"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.spoofax.sunshine.gitdrive"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea -server -Xss16m -Xms1G -Xmx2G"/>
</launchConfiguration>
