<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.spoofax.sunshine/src/org/spoofax/sunshine/drivers/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.spoofax.sunshine.drivers.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--lang WebDSL&#10;--jar ../../webdsl2/include/webdsl.jar&#10;--jar ../../webdsl2/include/webdsl-java.jar&#10;--jar ../../webdsl2/lib/task.jar&#10;--table ../../webdsl2/include/WebDSL.tbl&#10;--ssymb Unit&#10;--ext app&#10;&#10;&#10;--project ../../yellowgrass/&#10;--non-incremental&#10;--parse-only"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.spoofax.sunshine"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea:org.spoofax.sunshine…,org.metaborg.runtime...&#10;-server&#10;-Xss16m&#10;-Xms1G&#10;-Xmx2G"/>
</launchConfiguration>
