<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.spoofax.sunshine/src/org/spoofax/sunshine/drivers/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.spoofax.sunshine.drivers.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--lang Green-Marl&#10;--jar ../../../oracle/greenmarl/Green-Marl/include/green_marl.jar&#10;--jar ../../../oracle/greenmarl/Green-Marl/include/green_marl-java.jar&#10;--table ../../../oracle/greenmarl/Green-Marl/include/Green-Marl.tbl&#10;--ssymb Start&#10;--ext gm&#10;--observer analysis-default-cmd&#10;&#10;--project launches&#10;--builder generate-green-marl-core-pp&#10;--build-on pagerank.gm&#10;--non-incremental"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.spoofax.sunshine"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea:org.spoofax.sunshine…,org.metaborg.runtime... -server -Xss16m -Xms1G -Xmx2G"/>
</launchConfiguration>
